@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	height: 100%;
	background: rgb(219, 221, 210);
}
.wrapper {
	min-height: 100vh;
	background: #d2cccc;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template: minmax(300px, auto) 1fr minmax(150px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
.header {
	grid-area: header;
	display: grid;
	grid-template: repeat(2, auto) / minmax(auto, 400px) minmax(auto, 720px) minmax(auto, 80px);
	grid-template-areas:
		"menu menu menu"
		"logo info social-menu";
	column-gap: 40px;
	align-items: center;
	color: #d2cccc;
	background: rgb(44, 40, 40);
	padding: 40px 0 60px 0;

	&__logo {
		grid-area: logo;
		justify-self: center;
		align-self: center;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		overflow: hidden;
		padding: 12px;
		border: 8px solid #d2cccc;
	}
	&__logo img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	&__menu {
		grid-area: menu;
	}

	&__info {
		grid-area: info;
	}

	&__social-menu {
		grid-area: social-menu;
	}
}

.info {
	text-transform: uppercase;
	&__title {
		font-size: 20px;
		font-weight: 100;
		margin-bottom: 15px;
	}

	&__employee-name {
		font-size: 42px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	&__profession {
		font-size: 24px;
		font-weight: 100;
	}
}

.menu {
	&__items {
		display: flex;
		justify-content: flex-end;
		font-size: 14px;
		margin-right: 50px;
		text-transform: uppercase;
	}

	&__item {
		margin-left: 30px;
	}

	&__link {
		color: #d2cccc;
	}

	&__burger {
		display: none;
		position: absolute;
		width: 30px;
		height: 20px;
		right: 30px;
		top: 30px;
	}
	&__burger span {
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #d2cccc;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&__burger::before {
		content: "";
		width: 100%;
		height: 2px;
		background-color: #d2cccc;
		position: absolute;
		left: 0;
		top: 0;
	}
	&__burger::after {
		content: "";
		width: 100%;
		height: 2px;
		background-color: #d2cccc;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.social-menu {
	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__item {
	}
	&__link {
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 2px solid #d2cccc;
		border-radius: 50%;
	}
	&__link img {
		padding: 6px;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 992px) {
	.header {
		display: grid;
		grid-template: repeat(3, auto) / 1fr;
		grid-template-areas:
			"logo"
			"info"
			"social-menu";
		align-items: center;
		justify-items: center;
		gap: 0;
		padding: 80px 0 70px 0;

		&__info {
			margin-top: 50px;
			text-align: center;
		}

		&__social-menu {
			margin-top: 40px;
		}
	}

	.menu {
		&__items {
			display: none;
		}

		&__burger {
			display: block;
		}
	}
	.social-menu {
		&__items {
			flex-direction: row;
		}
	}
}

@media (max-width: 767px) {
	.wrapper {
		grid-template: minmax(300px, auto) 1fr minmax(120px, auto) / 1fr;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
	.header {
		color: rgb(44, 40, 40);
		background: #d2cccc;

		&__logo {
			padding: 0;
			border: 12px solid rgb(44, 40, 40);
		}
	}
	.menu {
		&__burger span {
			background-color: rgb(44, 40, 40);
		}
		&__burger::after {
			background-color: rgb(44, 40, 40);
		}
		&__burger::before {
			background-color: rgb(44, 40, 40);
		}
	}
	.social-menu {
		&__items {
		}
		&__item {
		}
		&__link {
			border: 2px solid rgb(44, 40, 40);
		}
		&__link img {
			filter: invert(96%) sepia(6%) saturate(134%) hue-rotate(314deg) brightness(82%) contrast(101%);
		}
	}
}

.main {
	padding: 60px 0;
	grid-area: main;
	display: grid;
	grid-template: 1fr / minmax(auto, 400px) minmax(auto, 800px);
	column-gap: 40px;
}
.sidebar {
}
.content {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	&__item {
	}

	&__title {
		background-color: rgb(44, 40, 40);
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title img {
		height: 30px;
	}
	&__title-sidebar {
		padding: 0 25px 0 50px;
	}
	&__title-basic {
		padding: 0 50px 0 25px;
	}

	&__text {
		color: #d2cccc;
		font-size: 24px;
		text-transform: uppercase;
	}
	&__desc {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		font-size: 18px;
	}
	&__desc-sidebar {
		padding: 0 60px 0 50px;
	}
	&__desc-basic {
		padding: 0 60px 0 10px;
	}
}
.skils {
	&__items {
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
	}

	&__progress {
		position: relative;
		height: 10px;
		width: 100px;
		background: #ada7a7;
	}
	&__progress::before {
		content: "";
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgb(44, 40, 40);
	}
	&__progress-html::before {
		width: 100%;
	}

	&__progress-flex::before {
		width: 100%;
	}

	&__progress-bem::before {
		width: 90%;
	}

	&__progress-js::before {
		width: 60%;
	}

	&__progress-figma::before {
		width: 80%;
	}
	&__progress-en::before {
		width: 50%;
	}
	&__progress-ru::before {
		width: 100%;
	}
	&__progress-cook::before {
		width: 100%;
	}
	&__progress-travel::before {
		width: 100%;
	}
	&__progress-photo::before {
		width: 80%;
	}
	&__progress-sport::before {
		width: 90%;
	}
	&__progress-read::before {
		width: 80%;
	}
}

.project {
	&__items {
		padding: 0 60px 0 10px;
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 30px;
	}

	&__item {
		padding: 0 0 68% 0;
		position: relative;
		overflow: hidden;
	}
	&__item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__link {
	}
}

@media (max-width: 992px) {
	.main {
		padding: 50px 0;
	}
	.content {
		&__title-sidebar {
			padding: 0 25px 0 30px;
		}
		&__title-basic {
			padding: 0 30px 0 25px;
		}

		&__desc-sidebar {
			padding: 0 40px 0 30px;
		}
		&__desc-basic {
			padding: 0 40px 0 10px;
		}
	}
	.project {
		&__items {
			padding: 0 40px 0 10px;
		}
	}
}

@media (max-width: 767px) {
	.main {
		grid-template: repeat(2, auto) / 1fr;
		column-gap: 40px;
		padding: 0;
	}
	.content {
		row-gap: 30px;
		&__title {
			background-color: rgb(44, 40, 40);
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__title img {
			display: none;
		}
		&__desc {
			padding: 0 20px;
		}
	}
	.skils {
		&__item {
			justify-content: left;
		}
		&__text {
			flex: 0 0 50%;
		}
		&__progress {
			flex: 0 1 50%;
			// width: 200px;
		}
	}
	.basic-info {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.project {
		&__items {
			padding: 0 20px 0 20px;
		}
	}
}

.footer {
	grid-area: footer;
	padding: 0 50px;
	background: rgb(44, 40, 40);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-course {
	width: 200px;
	&__link {
	}
}
.my-github {
	&__link {
		color: #d2cccc;
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.footer {
		padding: 0 20px;
	}
}
